.contact {
    @include block();
    background-color: $grey;
    text-align: left;

    .contact-form {
        background-color: $white;
        color: $black;
        display: block;
        font-size: $font-size__l;
        padding: $indent__base;
        text-align: center;
        width: 100%;
    }
}