.wp-block-cover  {
    overflow: hidden;
}

.wp-block-cover__inner-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: $indent__base;

    p {
        max-width: 700px;
    }
}