// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors : (green, $green),
          (blue, $blue),
          (pink, $pink),
          (black, $black),
          (grey, $grey),
          (white, $white);


/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

  .has-#{$name}-color.has-#{$name}-color {
    color : $color;
  }

  .has-#{$name}-background-color.has-#{$name}-background-color {
    background-color: transparent;
  }

  .has-#{$name}-background-color.has-#{$name}-background-color {
    background-color : $color;
  }

  .wp-block-button__link {
    margin-top: $indent__base;
    &.has-#{$name}-background-color {
      @include action('primary');
      border-color : $color;

      &:hover {
        border-color : $color;
        color        : $color;
        background-color: transparent;
      }
    }
  }
}