body {
    p.has-background, h1.has-background, h2.has-background, h3.has-background, h4.has-background, h5.has-background, h6.has-background {
        padding: $indent__base;
        margin-bottom: $indent__base;
        display: inline-block;
    }

    .wp-block-column.is-style-v-align {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .wp-block-column.is-style-bg-img {
        .wp-block-image {
            position: absolute;
            top: 50%;
            left: 0;
            width: 50%;
            transform: translateY(-50%);
        }
    }
}