$indent__base: 20px;
$indent__s: ceil($indent__base / 1.5);
$indent__xs: ceil($indent__base / 2);
$indent__l: ceil($indent__base * 1.5);
$indent__xl: ceil($indent__base * 2);

$content-max-width: 1500px;