@mixin action($type) {
    border: 2px solid transparent;
    border-radius: 25px;
    display: inline-block;
    font-weight: 500;
    padding: $indent__xs $indent__l;
    text-decoration: none;
    transition: all ease-in-out .2s;
    cursor: pointer;
    font-size: $font-size__base;

    &.action:hover {
        background-color: $white;
        border-color: $white;
        color: $green;
        box-shadow: 0 4px 4px 0 transparentize($color: $black, $amount: 0.5);
    }

    @if $type == 'primary' {
        background-color: $white;
        border-color: $white;
        color: $pink;
        
    }
}

.action.primary {
    @include action('primary');

    &.outline {
        border-color: $black;;
    }

    &.invert {
        border-color: $white;
        background-color: transparent;
        color: $white;
    }

    &.pink {
        background-color: $pink;
        border-color: $pink;
        color: $white;
    }
}