.select {
    position: relative;
    display: inline-block;
    margin: 0 $indent__s;

}    .select select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 2px solid $blue;
        border-radius: 0px;
        background: transparent;
        color: $blue;
        appearance: none;
        font-size: $font-size__l;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .select select::-ms-expand {
            display: none;
        }

        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #cccccc;
        }

        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }

.select_arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid $blue;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}