@mixin block() {
    padding: $indent__xl 80px;
}

body {
    padding: 0;
    margin: 0;
}

.site {
    max-width: $content-max-width + 100px;
    margin: 0 auto;
}

.content-wrap {
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 $indent__base;
}