@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0 0 $indent__base 0;
    line-height: 1.2;
}

h1 {
    font-size: $font-size__xxl;
}

h2 {
    font-size: $font-size__xl;
}

h3 {
    font-size: $font-size__l;
}

p {
    line-height: 1.4;
    font-size: $font-size__base;
    margin: 0;
    padding-bottom: $indent__base;
}

.visually-hidden {
    // allows for accessible text content on bg images etc
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -1000vh;
    left: -200vh;
}